body {
    background: #b2c2db;
    /*color: rgb(45, 45, 45);*/
    /*padding: 10px;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}


/*#all-contents {
    max-width: 800px;
    margin: auto;
}*/


/* navigation menu */
nav {
    background: #8daad6;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}


h1,h2,h3 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}


#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.nav-li {
    display: inline-block;
    padding: 10px;
}


a {
    text-decoration: none;
    color: #dbe9f4;
}


/* main container area beneath menu */
main {
    background: #96add0c3;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
}


.sidebar {
    display: flex;
}


#sidebar-img-index {
    display: flex;
    width: 300px;
    height: 425px;
    justify-content: center;
    border: 3px solid rgb(52, 103, 150);
}

#sidebar-img-port {
    display: flex;
    width: 250px;
    justify-content: center;
    border: 3px solid rgb(52, 103, 150);
}


.content {
    flex: 1;
    padding: 15px;
}


/* interests section styles */
#interests {
    padding: 8px;
    margin-top: 20px;
}

p {
    color: rgb(52, 103, 150);
}

/*.mainint {
    color:rgb(52, 103, 150);
}*/

/*.subint {
    color:rgb(52, 103, 150, 0.589);
}*/

/*.content h1 {
  color: white;
}*/

/*Takes away dots for the list*/
#portfolio {
  list-style-type: none;
  padding-left: 0;
}

/*Creates boxes around the items*/
#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*MAKES the box transparent when hovering*/
#portfolio li:hover {
  background: #eee;
}

/*Changes text color of portfolio items*/
#portfolio a {
  text-decoration: none;
  color: rgb(52, 103, 150);
}

  /*Takes away dots for the list*/
#interests {
  list-style-type: none;
  padding-left: 0;
}

/*Creates boxes around the items*/
#interests li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*MAKES the box transparent when hovering*/
#interests li:hover {
  background: #eee;
}

/*Changes text color of home page items*/
#interests a {
  text-decoration: none;
  color: rgb(52, 103, 150);
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }


  h1 {
    font-size: 44px;
  }


  h2 {
    font-size: 42px;
  }


  h3 {
    font-size: 36px;
  }


  #all-contents {
    height: 100ch;
    margin: none;
  }


  a {
    font-size: 42px;
  }


  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }


  .sidebar-img {
    width: 100%;
  }


  p,
  li {
    font-size: 24px;
  }


  .content {
    align-content: center;
    justify-content: center;
  }
