body {
    background: #b2c2db;
    color: #556e7d64;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #8daad6;
    padding: 10px;
    display: flex;
    justify-content: middle;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 1000px;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #dbe9f4;
}

/* main container area beneath menu */
main {
    background: #96add0c3;
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(52, 103, 150) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
    color: white;
}

p {
    color: white;
}

li {
    color: white;
}